{% extends "CompWebs/base.html" %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col">
            <button>
                <a href="/GamingDiscussion">Gaming Forum</a>
            </button>
        </div>
        <div class="col">
            <button>
                <a href="#">Random BS Forum</a>
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <button>
                <a href="#">Politics Forum</a>
            </button>
        </div>
        <div class="col">
            <button>
                <a href="#">Food Forum</a>
            </button>
        </div>
    </div>
</div>
{% endblock %}